table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

:hover[type="button"]{
    background-color: aqua;
}
input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}